.course-name-block{
    padding: 13rem 2rem 13rem 2rem;
    /*border-right: solid yellow;*/
}

.about-course{
    border-bottom: solid var(--dirty_yellow);
}

.white-background{
    background-color: white;
    opacity: 0.96;

}

.course-detail{
    border-right: solid var(--dirty_yellow);
}

.end-course-description{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.go-back-btn{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 35rem;
}

.fill-out-btn{
    width:50%;
    opacity: 1;
}

ul{
    padding-left: 1.5rem;
}

.timetable{
    padding-top: 1rem;
}

.teacher-name{
    font-size: 1.5rem;
}

.inline-link{
    text-decoration: none;
    color: #1c1b1b;
}

.inline-link:hover{
    text-decoration: none;
    color: #746900;
}
.timetable-img{
    padding-right: 0.5rem;
}