
.side{margin-left: 0;
}

.column{
    padding: 0 0 0 0;
}

.upper-course-part{
    background: rgba(132, 1, 132, 0.7);
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 0;
    margin-right: 0;
}

.course-page{
    background:rgba(28, 27, 27, 0.9);
    color: #e9e9e9;
}

h1{
    vertical-align:middle;
}

.avatar {
    max-width: 50%
}


