
.side{margin-left: 0;
}

.column{
    padding: 0 0 0 0;
}

.upper-course-part{
    background: var(--ficus_pink);
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 0;
    margin-right: 0;
}

.course-page{
    background: var(--not_fully_black);
    color: #e9e9e9;
}

h1{
    vertical-align:middle;
}

.avatar {
    max-width: 50%
}

.course-link {
    text-decoration: none;
}
.course-link:hover{
    text-decoration: none;
}


