
.side{margin-left: 0;
}

.column{
    padding: 0 0 0 0;
}

.upper-course-part{
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 0;
    margin-right: 0;
}

.tntm-container-background{
    background-image: url('/images/python.jpeg');
}

.english-container-background{
    background-image: url('/images/london.jpg');
}

.header-background{
    background-color: var(--transparent_background);
}

.course-page{
    color: #e9e9e9;
    padding: 0 0 0 0;
}

h1{
    vertical-align:middle;
}

.avatar {
    max-width: 50%;
}

.rounded-circle{
    border-radius:50%;
}

.course-link {
    text-decoration: none;
}
.course-link:hover{
    text-decoration: none;
}


