* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.courses,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.courses {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.english_course{
  background-image: url('/images/london.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.coding_course {
  background-image: url('/images/coding.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headline{
  color: #fff;
  font-size: 100px;
  background-color: rgba(36,36,36, 0.6);
  border-radius: 2px;
  padding: 1rem 1rem 1rem 1rem;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.fill {
  height: 100vh;
  min-height: 100%;
}