* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

:root {
  --dirty_yellow: rgb(250, 217, 0);
  --not_fully_black: rgba(28, 27, 27, 0.9);
  --transparent_background: rgba(36,36,36, 0.6);
  --ficus_pink: rgba(132, 1, 132, 0.7);
}

.home,
.courses,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.courses {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.course_background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.english_course{
  background-image: url('/images/london.jpg');

}
.coding_course {
  background-image: url('/images/python.jpeg');
}

.english_and_code {
  background-image: url('/images/coding.jpeg');
}

.course_background:hover{
  border: var(--dirty_yellow) solid 0.5rem;
}

.headline_course{
  color: #fff;
  font-size: 100px;
  background-color: var(--transparent_background);
  border-radius: 2px;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.fill {
  height: 40rem;
  min-height: 100%;
}


@media only screen and (max-width: 400px) {
  .headline_course {
    font-size: 30px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
  .headline_course {
    font-size: 45px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .headline_course {
    font-size: 65px;
  }
}